@import "tailwindcss";

@font-face {
    font-family: elms;
    src: url('../fonts/Elms.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: boldfinger;
    src: url('../fonts/Boldfinger.ttf') format('truetype');
    font-display: swap;
}